body {
  overflow: scroll!important;
}
.app {
  min-height: 100vh;
}
.app__menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  z-index: 10;
}
.app__content {
  margin-left: 200px;
  padding: 1.5em;
}



.home {
  width: 80%;
  min-width: 600px;
  margin: 1em auto;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.body .action {
  margin: 1em 0;
}
.body .action p {
  margin-top: 1em;
}
.progress-dialog .progress-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.progress-dialog .progress__errors {
  margin-top: 1em;
  text-align: left;
}